SESSION_KEY=rand_secret
LRCD_SECRET=rand_secret
POSTGRES_USER=cbv
POSTGRES_PASSWORD=rand_secret
POSTGRES_DB=cbvdb
POSTGRES_PORT=9001
YOUTUBE_API_KEY=api_secret
ADMIN_USERNAME=admin
DISCORD_LINK=discordlink
REPORT_DELIMITER=$$
MIGRATE_BIN=migrate
