/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Balance text wrapping on headings */
h1, h2,
h3, h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input, button,
textarea, select {
  font-family: inherit;
  font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

:root {
  --gbg: #ffffff; /*global background*/
  --bg: var(--gbg); /*background*/
  --gbl: #ffffff80; /*global background light*/
  --bl: var(--gbl); /*background light*/
  --gfg: #000000; /*global foreground*/
  --fg: var(--gfg); /*foreground*/
  --gfl: #00000080; /*global foreground light*/
  --fl: var(--gfl); /*foreground light*/
  --gprimary: #452faa; /*global primary*/
  --primary: var(--gprimary); /*primary*/
  --gsecondary: #fea2db; /*global secondary*/
  --secondary: var(--gsecondary); /*secondary*/
}
@font-face {
  font-family: 'SourceSans';
  src: url('/font/SS3IVariable.ttf') format('truetype');
  font-weight: 200 900;
  font-style: italic;
  font-display: block;
}
@font-face {
  font-family: 'SourceSans';
  src: url('/font/SS3Variable.ttf') format('truetype');
  font-weight: 200 900;
  font-style: normal;
  font-display: block;
}

body {
  font-family: 'SourceSans';
  background: var(--bg);
  color: var(--fg);
}

.tripartite {
  display: grid;
  grid-template-columns: 0fr 1fr 0fr;
  position: relative;
}

#left-sidebar, #right-sidebar {
  width: 12rem;
  max-height: 100vh;
  overflow-y: scroll;
  scrollbar-width: none;
}

#left-sidebar {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
}

@media (min-width: 52rem) and (max-width: 64rem) {
  .tripartite: {
    display: grid;
    grid-template-columns: 0fr 1fr;
  }
  #right-sidebar {
    display: none;
  }

  #main-content {
    margin-right: calc(100vw - 52rem);
  }
}

@media (min-width: 48rem) and (max-width: 52rem) {
  .tripartite: {
    display: grid;
    grid-template-columns: 0fr 1fr;
  }
  #right-sidebar {
    display: none;
  }
}

@media (min-width: 36rem) and (max-width: 48rem) {
  .tripartite {
    display: block;
  }
  #left-sidebar, #right-sidebar {
    display: none
  }
  #main-content {
    margin-left: calc(100vw - 36rem);
  }
}

@media (max-width: 36rem) {
  .tripartite {
    display: block;
  }
  #left-sidebar, #right-sidebar {
    display: none
  }
}


.sidebar-group {
  display:flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

#left-sidebar .sidebar-group {
  align-items: flex-end;
}

#right-sidebar .sidebar-group {
  align-items: flex-start;
}

#watched-threads button {
  position: relative;
}

#watched-threads button:hover {
  color: transparent;
}

#watched-threads button:hover::before {
  position: absolute;
  top: 0;
  right: 0;
  left: -3rem;
  text-align:right;
  content: 'sort by total activity';
  overflow: visible;
  color: var(--fg);

}

#watched-threads button.total-activity:hover::before {
  content: 'sort by recent activity'
}

.watched-thread {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

#left-sidebar {
  position: relative;
  padding-right: 4px;
  overflow-y: hidden;
}

#left-sidebar::after {
  content: '';
  position: absolute;
  z-index: -3;
  left: 0;
  right:0;
  top:-50%;
  bottom:-50%;
  background: linear-gradient(0deg, var(--fg) 50%, transparent 50%);
  background-repeat: repeat-y;
  background-size: 4px 16px;
  background-position: 100% 0;
  animation: animate-up 128s infinite linear;
}

@keyframes animate-up {
  from {
    transform: translateY(25%);
  }

  to {
    transform: translateY(-25%);
  }
}

#main-content {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow-y: scroll;
  scrollbar-width: none;
}

button {
  background-color: transparent;
  border: none;
  color: var(--fg);
  padding: 0;
  cursor: pointer;
}

button:hover {
  font-weight: 700;
}

input {
  background-color: transparent;
  border: none;
}

form {
  display: flex;
  flex-direction: column;
}

.form-field > input {
  background-color: var(--fg);
  color: var(--bg);
}

.form-submit > input {
  background-color: var(--fg);
  color: var(--bg);
}

.thread-link {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.volume-settings {
  accent-color: var(--primary);
}
