/* transmitter styles */
.transmitter {
  flex-shrink: 0;
  background: linear-gradient(var(--bl), var(--bg));
  position: sticky;
  bottom: 0;
}

.transmitter .wrapper {
  position: relative;
  display: inline-block;
}

.transmitter .wrapper :first-child {
  position: absolute;
  left: 0px;
  right: 0px;
  top: -2rem;
  bottom: 1em;
  display: none;
}

.transmitter input {
  accent-color: var(--accent);
  /* needed because the user agent like adds border maybe ? */
  box-sizing: content-box;
}

.transmitter .wrapper:focus-within :first-child {
  display: inline-block;
}


/* transmitter text box styles */
.autogrowwrapper textarea {
  width: 100%;
  font: inherit;
  padding: 0;
  margin: 0;
  display: block;
  resize: none;
  border: none;
  background: var(--fl);
}

.autogrowwrapper {
  position: relative;
}

.autogrowwrapper::before {
  content: "";
  position: absolute;
  inset: 0;
  background: var(--fg);
  z-index: -3;
}

#media-upload {
  display: none;
}

.media-upload-button {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  border: none;
  color: var(--bl);
  cursor: pointer;
}

.media-upload-button:hover {
  font-weight: 700;
}


/* tx styles */
.active {
  position: relative;
  background-color: var(--accentl);
}

.active::before {
  position: absolute;
  content: "";
  inset: 0;
  z-index: -3;
  background-color: var(--accent);
}


/* diff styles */
.removed {
  text-decoration: line-through var(--accentl);
  text-decoration-thickness: 0.4rem;
}

.appended {
  opacity: 0.5
}

/* log styles */
.log {
  position: fixed;
  top:0;
  bottom:0;
  left:0;
  right:0;
  filter: blur(1rem);
  pointer-events: none;
}

.logitem {
  font-size: 2rem;
  font-weight: 900;
  max-width: 39rem;
  word-wrap: break-word;
  position: fixed;
  z-index: -1;
  pointer-events: none;
  line-height: 0.7;
  opacity: 0;
  animation: 3.35s ease-out fadeout;
  mix-blend-mode: plus-lighter;
}

@keyframes fadeout {
  from {
    opacity: 0.7;
  }
  to {
    opacity: 0;
  }
}

.delete {
  color: var(--secondary);
}
.insert {
  color: var(--primary);
}
.pub {
  color: var(--accent);
}
.init {
  color: var(--accent);
}
.system-message {
  position: fixed;
  font-size: 4rem;
  top:0;
  z-index: -1
}
