@media (min-width: 36rem) {
#eats-ur-brain .tx {font-size: var(--fs-min)}
#eats-ur-brain .tx[data-from-end="1"] {font-size:calc(var(--fs-min) + calc(var(--fs-pmax) * 1.000000));}
#eats-ur-brain .tx[data-from-end="2"] {font-size:calc(var(--fs-min) + calc(var(--fs-pmax) * 1.000000));}
#eats-ur-brain .tx[data-from-end="3"] {font-size:calc(var(--fs-min) + calc(var(--fs-pmax) * 1.000000));}
#eats-ur-brain .tx[data-from-end="4"] {font-size:calc(var(--fs-min) + calc(var(--fs-pmax) * 1.000000));}
#eats-ur-brain .tx[data-from-end="5"] {font-size:calc(var(--fs-min) + calc(var(--fs-pmax) * 1.000000));}
#eats-ur-brain .tx[data-from-end="6"] {font-size:calc(var(--fs-min) + calc(var(--fs-pmax) * 1.000000));}
#eats-ur-brain .tx[data-from-end="7"] {font-size:calc(var(--fs-min) + calc(var(--fs-pmax) * 1.000000));}
#eats-ur-brain .tx[data-from-end="8"] {font-size:calc(var(--fs-min) + calc(var(--fs-pmax) * 0.997114));}
#eats-ur-brain .tx[data-from-end="9"] {font-size:calc(var(--fs-min) + calc(var(--fs-pmax) * 0.989345));}
#eats-ur-brain .tx[data-from-end="10"] {font-size:calc(var(--fs-min) + calc(var(--fs-pmax) * 0.980402));}
#eats-ur-brain .tx[data-from-end="11"] {font-size:calc(var(--fs-min) + calc(var(--fs-pmax) * 0.970010));}
#eats-ur-brain .tx[data-from-end="12"] {font-size:calc(var(--fs-min) + calc(var(--fs-pmax) * 0.957804));}
#eats-ur-brain .tx[data-from-end="13"] {font-size:calc(var(--fs-min) + calc(var(--fs-pmax) * 0.943297));}
#eats-ur-brain .tx[data-from-end="14"] {font-size:calc(var(--fs-min) + calc(var(--fs-pmax) * 0.925826));}
#eats-ur-brain .tx[data-from-end="15"] {font-size:calc(var(--fs-min) + calc(var(--fs-pmax) * 0.904481));}
#eats-ur-brain .tx[data-from-end="16"] {font-size:calc(var(--fs-min) + calc(var(--fs-pmax) * 0.877998));}
#eats-ur-brain .tx[data-from-end="17"] {font-size:calc(var(--fs-min) + calc(var(--fs-pmax) * 0.844637));}
#eats-ur-brain .tx[data-from-end="18"] {font-size:calc(var(--fs-min) + calc(var(--fs-pmax) * 0.802076));}
#eats-ur-brain .tx[data-from-end="19"] {font-size:calc(var(--fs-min) + calc(var(--fs-pmax) * 0.747500));}
#eats-ur-brain .tx[data-from-end="20"] {font-size:calc(var(--fs-min) + calc(var(--fs-pmax) * 0.678326));}
#eats-ur-brain .tx[data-from-end="21"] {font-size:calc(var(--fs-min) + calc(var(--fs-pmax) * 0.594223));}
#eats-ur-brain .tx[data-from-end="22"] {font-size:calc(var(--fs-min) + calc(var(--fs-pmax) * 0.500000));}
#eats-ur-brain .tx[data-from-end="23"] {font-size:calc(var(--fs-min) + calc(var(--fs-pmax) * 0.405777));}
#eats-ur-brain .tx[data-from-end="24"] {font-size:calc(var(--fs-min) + calc(var(--fs-pmax) * 0.321674));}
#eats-ur-brain .tx[data-from-end="25"] {font-size:calc(var(--fs-min) + calc(var(--fs-pmax) * 0.252500));}
#eats-ur-brain .tx[data-from-end="26"] {font-size:calc(var(--fs-min) + calc(var(--fs-pmax) * 0.197924));}
#eats-ur-brain .tx[data-from-end="27"] {font-size:calc(var(--fs-min) + calc(var(--fs-pmax) * 0.155363));}
#eats-ur-brain .tx[data-from-end="28"] {font-size:calc(var(--fs-min) + calc(var(--fs-pmax) * 0.122002));}
#eats-ur-brain .tx[data-from-end="29"] {font-size:calc(var(--fs-min) + calc(var(--fs-pmax) * 0.095519));}
#eats-ur-brain .tx[data-from-end="30"] {font-size:calc(var(--fs-min) + calc(var(--fs-pmax) * 0.074174));}
#eats-ur-brain .tx[data-from-end="31"] {font-size:calc(var(--fs-min) + calc(var(--fs-pmax) * 0.056703));}
#eats-ur-brain .tx[data-from-end="32"] {font-size:calc(var(--fs-min) + calc(var(--fs-pmax) * 0.042196));}
#eats-ur-brain .tx[data-from-end="33"] {font-size:calc(var(--fs-min) + calc(var(--fs-pmax) * 0.029990));}
#eats-ur-brain .tx[data-from-end="34"] {font-size:calc(var(--fs-min) + calc(var(--fs-pmax) * 0.019598));}
#eats-ur-brain .tx[data-from-end="35"] {font-size:calc(var(--fs-min) + calc(var(--fs-pmax) * 0.010655));}
#eats-ur-brain .tx[data-from-end="36"] {font-size:calc(var(--fs-min) + calc(var(--fs-pmax) * 0.002886));}
}
.thread-tail:hover > div:nth-of-type(1) {transition-delay: .000s; transition-duration: .07s}
.thread-tail:hover > div:nth-of-type(1) .time {transition-delay: .000s; transition-duration: .07s}
.thread-tail:hover > div:nth-of-type(2) {transition-delay: .011s; transition-duration: .09s}
.thread-tail:hover > div:nth-of-type(2) .time {transition-delay: .011s; transition-duration: .09s}
.thread-tail:hover > div:nth-of-type(3) {transition-delay: .022s; transition-duration: .11s}
.thread-tail:hover > div:nth-of-type(3) .time {transition-delay: .022s; transition-duration: .11s}
.thread-tail:hover > div:nth-of-type(4) {transition-delay: .033s; transition-duration: .13s}
.thread-tail:hover > div:nth-of-type(4) .time {transition-delay: .033s; transition-duration: .13s}
.thread-tail:hover > div:nth-of-type(5) {transition-delay: .044s; transition-duration: .15s}
.thread-tail:hover > div:nth-of-type(5) .time {transition-delay: .044s; transition-duration: .15s}
.thread-tail:hover > div:nth-of-type(6) {transition-delay: .055s; transition-duration: .17s}
.thread-tail:hover > div:nth-of-type(6) .time {transition-delay: .055s; transition-duration: .17s}
.thread-tail:hover > div:nth-of-type(7) {transition-delay: .066s; transition-duration: .19s}
.thread-tail:hover > div:nth-of-type(7) .time {transition-delay: .066s; transition-duration: .19s}
.thread-tail:hover > div:nth-of-type(8) {transition-delay: .077s; transition-duration: .21s}
.thread-tail:hover > div:nth-of-type(8) .time {transition-delay: .077s; transition-duration: .21s}
