.transmission:nth-last-of-type(1) {font-size:2.000000rem;}
.transmission:nth-last-of-type(2) {font-size:2.000000rem;}
.transmission:nth-last-of-type(3) {font-size:2.000000rem;}
.transmission:nth-last-of-type(4) {font-size:2.000000rem;}
.transmission:nth-last-of-type(5) {font-size:2.000000rem;}
.transmission:nth-last-of-type(6) {font-size:2.000000rem;}
.transmission:nth-last-of-type(7) {font-size:2.000000rem;}
.transmission:nth-last-of-type(8) {font-size:1.997114rem;}
.transmission:nth-last-of-type(9) {font-size:1.989345rem;}
.transmission:nth-last-of-type(10) {font-size:1.980402rem;}
.transmission:nth-last-of-type(11) {font-size:1.970010rem;}
.transmission:nth-last-of-type(12) {font-size:1.957804rem;}
.transmission:nth-last-of-type(13) {font-size:1.943297rem;}
.transmission:nth-last-of-type(14) {font-size:1.925826rem;}
.transmission:nth-last-of-type(15) {font-size:1.904481rem;}
.transmission:nth-last-of-type(16) {font-size:1.877998rem;}
.transmission:nth-last-of-type(17) {font-size:1.844637rem;}
.transmission:nth-last-of-type(18) {font-size:1.802076rem;}
.transmission:nth-last-of-type(19) {font-size:1.747500rem;}
.transmission:nth-last-of-type(20) {font-size:1.678326rem;}
.transmission:nth-last-of-type(21) {font-size:1.594223rem;}
.transmission:nth-last-of-type(22) {font-size:1.500000rem;}
.transmission:nth-last-of-type(23) {font-size:1.405777rem;}
.transmission:nth-last-of-type(24) {font-size:1.321674rem;}
.transmission:nth-last-of-type(25) {font-size:1.252500rem;}
.transmission:nth-last-of-type(26) {font-size:1.197924rem;}
.transmission:nth-last-of-type(27) {font-size:1.155363rem;}
.transmission:nth-last-of-type(28) {font-size:1.122002rem;}
.transmission:nth-last-of-type(29) {font-size:1.095519rem;}
.transmission:nth-last-of-type(30) {font-size:1.074174rem;}
.transmission:nth-last-of-type(31) {font-size:1.056703rem;}
.transmission:nth-last-of-type(32) {font-size:1.042196rem;}
.transmission:nth-last-of-type(33) {font-size:1.029990rem;}
.transmission:nth-last-of-type(34) {font-size:1.019598rem;}
.transmission:nth-last-of-type(35) {font-size:1.010655rem;}
.transmission:nth-last-of-type(36) {font-size:1.002886rem;}
