{{define "content"}}
  <form action="/account" method="POST">
    <div class="form-field">
      <label for="username">username</label>
      <input type="text" name="username"/>
    </div>
    <div class="form-field">
      <label for="password">password</label>
      <input type="password" name="password"/>
    </div>
    <div class="form-field">
      <label for="confirm">confirm password</label>
      <input type="password" name="confirm"/>
    </div>
    {{if .RequiresCode}}
      <div class="form-field">
        <label for="invite">invite code</label>
        <input type="text" name="invite" {{if .Invite}}value="{{.Invite}}"{{end}}/>
      </div>
    {{end}}
    <div class="form-submit">
      <input type="submit" value="create account"/>
    </div>
  </form>
  {{if .Link}}
    <div>
      <a href="{{.Link}}">
        maybe join the discord server? {{if .RequiresCode}} we'll give you an invite code if you need one! {{end}}
      </a>
    </div>
  {{end}}
{{end}}
