{{define "mod"}}
  <li><a href="/profile/{{.}}">{{.}}</a></li> 
{{end}}

{{define "content"}}
  <h2>notify ALL</h2>
  <form hx-swap="outerHTML" hx-POST="/notify-all">
    <div class="form-field">
      <label for="message">message</label>
      <input type="text" name="message">
    </div>
    <div class="form-submit">
      <input type="submit" value="notify ALL"/>
    </div>
  </form>
  <h2>
    new moderator
  </h2>
  <form hx-target="#moderators" hx-swap="beforeend" hx-POST="/add-moderator">
    <div class="form-field">
      <label for="username">username</label>
      <input type="text" name="username">
    </div>
    <div class="form-submit">
      <input type="submit" value="add moderator"/>
    </div>
  </form>
  <ol id="moderators">
  {{range .Moderators}}
    {{template "mod" .}}
  {{end}}
  </ol>
{{end}}

{{define "error"}}
  <div>error: {{.Message}}</div
{{end}}

{{define "notified"}}
  <div>notified {{.Count}} users</div>
{{end}}
