<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/dark.css">
    <link rel="icon" href="/svg/favicon2.svg" type="image/svg+xml">
    <title>{{ .Title }}</title>
  </head>
  <body>
    <aside id="left-sidebar">
      {{template "left-sidebar" .}}
    </aside>
    <main id="main-content">
      {{template "content" .}}
    </main>
    <aside id="right-sidebar">
      {{template "right-sidebar" .}}
    </aside>
  </body>
</html>
