{{define "base-top"}}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:title" content="slayyy, my brainworms!">
    <meta property="og:type" content="website">
    <meta property="og:image" content="https://brain.worm.sh/svg/favicon2.svg{{.Crack}}">
    <meta property="og:url" content="https://brain.worm.sh/">
    <meta property="og:description" content="a digital coffehouse and forum">
    <link rel="stylesheet" href="/css/base.css{{.Crack}}">
    <link rel="stylesheet" href="/css/dark.css{{.Crack}}">
    <link rel="stylesheet" href="/css/postsizes.css{{.Crack}}">
    <link rel="stylesheet" href="/css/wormwatch.css{{.Crack}}">
    <link rel="stylesheet" href="/css/lrc.css{{.Crack}}">
    <link rel="stylesheet" href="/css/tx.css{{.Crack}}">
    <link rel="icon" href="/svg/favicon2.svg{{.Crack}}" type="image/svg+xml">
    <title>{{ .Title }}</title>
    <script src="/js/htmx.min.js{{.Crack}}"></script>
    {{if .Websockets}}
      <script src="/js/websockets.js{{.Crack}}"></script>
    {{end}}
  </head>
{{end}}

{{define "base-bot"}}
    <aside id="left-sidebar" style="--accent:{{.Accent}}; {{if .ReplyCount}}--remaining:{{percentRemaining .ReplyCount}}{{end}}">
      {{template "left-sidebar" .}}
    </aside>
    <main id="main-content">
      {{template "content" .}}
    </main>
    <aside id="right-sidebar">
      {{template "right-sidebar" .}}
    </aside>
  </body>
</html>
{{end}}

{{define "base"}}
  {{template "base-top" .}}
  <body class="tripartite">
  {{template "base-bot" .}}
{{end}}

{{define "base-wide-right"}}
  {{template "base-top" .}}
  <body class="wide-right">
  {{template "base-bot" .}}
{{end}}
