{{define "content"}}
  {{template "thread-header" .}}
  <a id="the-start" href="#the-end">jump to bottom</a>
  <div id="brains-ur-eat">
    {{range .Thread.Posts}}
      {{template "forum-post" .}}
    {{end}}
  </div>
  <a id="the-end" href="#the-start">jump to top</a>
  {{if archived .Thread}}
    {{if .Thread.ManuallyArchived}}
      <div>[thread manually archived]</div>
    {{else}}
      <div>[reply limit hit; thread archived]</div>
    {{end}}
  {{else}}
    <script src="/js/loadfontsize.js{{.Crack}}"></script>
  {{end}}
  <script src="/js/findyous.js{{.Crack}}"></script>
  <script src="/js/action.js{{.Crack}}"></script>
  <script src="/js/hydratetime.js{{.Crack}}"></script>
  <script src="/js/links.js{{.Crack}}"></script>
  <script src="/js/thumb.js{{.Crack}}"></script>
  <script src="/js/forum.js{{.Crack}}"></script>
  <canvas id="forum-notification-canvas"></canvas>
{{end}}

{{define "right-sidebar"}}
  {{if not (archived .Thread)}}
    {{template "forum-transmitter" .Ftx}}
  {{end}}
  <div class="sidebar-group">
    <button class="new-posts clickable">there are new posts</button>
  </div>
{{end}}

{{define "forum-transmitter"}}
  <form class="forum-transmitter" method="POST" action="/ft/{{idtoa .TID}}" enctype="multipart/form-data">
    <div class="wrapper">
      <input type="color" name="color" value="{{colorToA .Color}}" />
      <input type="text" class="nick" name="nick" size="16" placeholder="alice!" {{with .Nick}}value="{{.}}"{{end}} />
      <input type="checkbox" id="anon-box" name="anon" {{if .Anon}}checked{{end}} />
      <label for="anon-box">anon</label>
    </div>
    <div class="form-field">
      <textarea id="response-form" type="text" name="body" placeholder="this is your response" required></textarea>
    </div>
    <div class="form-field">
      <input id="ftx-image" type="file" name="image" accept="image/png, image/jpeg, image/gif, image/webp"> 
    </div>
    <div class="form-field">
      <label for="alt">alt</label>
      <input type="text" name="alt">
    </div>
    <div class="form-submit">
      <input type="submit" value="post"/>
    </div>
  </form>
{{end}}
