{{define "content"}}
  <h1>thread index</h1>
  <div>
    <a href="/new">start a new thread</a>
  </div>
  {{if .IsChrono}}
    <h2>
      sorted reverse chronologically
      <a href="/t">(switch to bump order)</a>
    </h2>
  {{else}}
    <h2>
      sorted by bump order
      <a href="/t?chrono=yes">(switch to reverse chronological)</a>
    </h2>
  {{end}}
  {{range .ThreadThumbs}}
    <div class="thread-tail{{if maxReplies .ReplyCount}} archived{{end}}" style="--accent: {{colorToA .OP.Color}}; --accentl: {{colorToA .OP.Color}}80">
      <div>
        <a href="/t/{{idtoa .ID}}">
          <span class="topic">{{topicOrIdtoa .}}</span>
          <span>{{if maxReplies .ReplyCount}}[ARCHIVED]{{else}}({{intto36a .ReplyCount}} replies){{end}}</span>
        </a>
      </div>
      {{template "post" .OP}}
      {{if gt .ReplyCount 5}}
      <div style="margin-top:-1rem">⋮</div>
      {{end}}
      {{range .Posts}}
        {{template "post" .}}
      {{end}}
    </div>
  {{end}}
  {{if .IsChrono}}
    {{if .ChronoCursor}}
      <a href="/t?chrono=yes&cursor={{idtoa .ChronoCursor}}">Next page</a>
    {{end}}
  {{else}}
    {{if .BumpCursor}}
      <a href="/t?cursor={{formatTime .BumpCursor}}">Next page</a>
    {{end}}
  {{end}}
  <script src="/js/thumb.js"></script>
  <script src="/js/hydratetime.js"></script>
{{end}}
