{{define "content"}}
  <h1>thread index</h1>
  <div>
    <a href="/new">start a new thread</a>
  </div>
  {{if .IsChrono}}
    <h2>
      sorted reverse chronologically
      <a href="/t">(switch to bump order)</a>
    </h2>
  {{else}}
    <h2>
      sorted by bump order
      <a href="/t?chrono=yes">(switch to reverse chronological)</a>
    </h2>
  {{end}}
  {{range .ThreadThumbs}}
    <div class="thread-tail">
      <a href="/t/{{idtoa .ID}}">
        {{if .Topic}}<div class="topic">{{.Topic}}</div>{{end}}
        <div>{{if maxReplies .ReplyCount}}[ARCHIVED]{{else}}{{.ReplyCount}} replies{{end}}</div>
      </a>
    </div>
  {{end}}
  {{if .IsChrono}}
    {{if .ChronoCursor}}
      <a href="/t?chrono=yes&cursor={{idtoa .ChronoCursor}}">Next page</a>
    {{end}}
  {{else}}
    {{if .BumpCursor}}
      <a href="/t?cursor={{formatTime .BumpCursor}}">Next page</a>
    {{end}}
  {{end}}
{{end}}
