{{define "content"}}
  <div>
    <h2>inspect post</h2>
    <form hx-target="#inspected-post" hx-GET="/inspect-post">
      <div class="form-field">
        <label for="postid">id</label>
        <input type="text" name="postid" {{with .Autofillid}}value="{{.}}"{{end}}>
      </div>
      <div class="form-submit">
        <input type="submit" value="inspect"/>
      </div>
    </form>
    <div id="inspected-post"></div>
  </div>
  <div>
    <h2>moderation action</h2>
    <p>
      if you just enter a post/thread id, then it will be deleted it, and if you enter a username,
      then you'll ban them with reference to all the filled in fields
    </p>
    {{template "emptyactionform" .}}
    <div id="moderation-history"></div>
  </div>
  <h2>reports</h2>
  {{template "reports" .}}
  {{if .Appeals}}
    <h2>
      ban appeals
    </h2>
    {{range .Appeals}}
      {{template "appeal" .}}
    {{end}}
  {{end}}
  <script src="/js/links.js{{.Crack}}"></script>
{{end}}

{{define "confirm"}}
  <form id="moderation-form" hx-swap="outerHTML" hx-POST="/take-action">
    {{template "pending-action" .}}
    <input type="hidden" name="postid" value="{{.Id}}">
    <input type="hidden" name="username" value="{{.Username}}">
    <input type="hidden" name="reason" value="{{.Reason}}">
    <input type="hidden" name="comment" value="{{.Comment}}">
    <input type="hidden" name="until" value="{{.Until}}">
    <input type="hidden" name="confirm" value="moderation confirmed">
    <div class="confirm-cancel">
      <div class="form-submit">
        <input type="submit" value="confirm moderation action"/>
      </div>
      <div class="form-submit">
        <button hx-target="#moderation-form" hx-swap="outerHTML" hx-GET="/cancel-action">cancel</button>
      </div>
    </div>
  </form>
{{end}}

{{define "confirmed"}}
  {{template "emptyactionform" .}}
  {{template "oob-action" .}}
{{end}}

{{define "emptyactionform"}}
  <form hx-swap="outerHTML" hx-POST="/take-action">
    <div class="form-field">
      <label for="postid">id</label>
      <input type="text" name="postid" {{with .Autofillid}}value="{{.}}"{{end}}>
    </div>
    <div class="form-field">
      <label for="username">username</label>
      <input type="text" name="username">
    </div>
    <div class="form-field">
      <label for="reason">reason (displayed to user)</label>
      <input type="text" name="reason">
    </div>
    <div class="form-field">
      <label for="comment">comment (only shown to moderators)</label>
      <input type="text" name="comment">
    </div>
    <div class="form-field">
      <label for="until">duration for ban (default 1 hour) (8760h in one year)</label>
      <input type="text" name="until">
    </div>
    <div class="form-submit">
      <input type="submit" value="moderate"/>
    </div>
  </form>
{{end}}

{{define "appeal"}}
  {{template "ban" .}}
  <form hx-swap="outerHTML" hx-post="/appeal-verdict">
    <div class="form-field">
      <label for="reject">reject appeal?</label>
      <input type="checkbox" name="reject">
    </div>
    <input type="hidden" name="id" value="{{.Ban.Id}}">
    <div class="form-submit">
      <input type="submit" value="repeal ban"/>
    </div>
  </form>
{{end}}

{{define "deleted"}}
  <div>
    post deleted!
  </div>
  {{if not .IsMod}}
    <div>
      (when a post is deleted, anyone who loads the thread from now on will not see 
      the post)
    </div>
    <div>
      ((in the future i will send information to currently connected clients that
      will inform them that they should delete the post, but it will always be
      possible that they modify their client to ignore this information. be careful
      out there, ok?))
    </div>
  {{end}}
  <div>
    <button class="close">close</button>
  </div>
{{end}}

{{define "rejected"}}
  <div class="rejected">
    APPEAL REJECTED; user remains banned
  </div>
{{end}}

{{define "accepted"}}
  <div class="accepted">
    APPEAL ACCEPTED; user has been unbanned
  </div>
{{end}}

{{define "errored"}}
  <div class="errored">
    ACTION ERRORED; {{.Message}}
  </div>
{{end}}

{{define "oob-action"}}
  <div id="moderation-history" hx-swap-oob="beforeend">
    <div class="moderation-action">
      {{template "action" .}}
    </div>
  </div>
{{end}}

{{define "pending-action"}}
  <div class="pending-action">
    {{template "action" .}}
  </div>
{{end}}

{{define "action"}}
  <h3>{{.Type}}</h3>
  {{if not .Action.Ban}}
    {{if .Action.Post}}
      {{template "post" .Post}}
    {{end}}
  {{end}}
  {{if .Action.Ban}}
    {{template "ban" .}}
  {{end}}
{{end}}

{{define "check-post"}}
  <div class="check-post">
    here is the post you want to look at!
    {{template "post" .Post}}
  </div>
{{end}}

{{define "reports"}}
  {{range .Reports}}
    {{template "report" .}}
  {{end}}
  {{if .Cursor}}
    <form hx-get="/reports" hx-swap="outerHTML">
      <input type="hidden" name="after" value="{{.Cursor}}">
      <input type="hidden" name="limit" value="20">
      <div class="form-submit">
        <input type="submit" value="get more reports"/>
      </div>
    </form>
  {{end}}
{{end}}

{{define "report"}}
  <form hx-swap="outerHTML" hx-post="/review-report">
    <span><a href="/profile/{{.Reporter}}">@{{.Reporter}}</a> reported <a href="/profile/{{.Reported}}">@{{.Reported}}</a> for {{if .ForProfile}}their profile{{else if .PostId}} post <a href="/p/{{idtoa .PostId}}">#{{idtoa .PostId}}</a>{{else}}a post that wasn't yet in database{{end}}</span>
    {{if .Post}}
      <div><a href="/profile/{{.Reported}}">@{{.Reported}}</a>'s post:</div>
      {{template "post" .Post}}
    {{end}}
    {{if .Reason}}
      <div><a href="/profile/{{.Reporter}}">@{{.Reporter}}</a>'s reason:</div>
      <blockquote>
        {{.Reason}}
      </blockquote>
    {{end}}
    <input type="hidden" name="id" value="{{.Id}}">
    {{with .ReviewedBy}}
      <div>
        report already reviewed by <a href="/profile/{{.}}">@{{.}}</a>
      </div>
    {{else}}
      {{with .Post}}<div><button hx-swap="outerHTML" hx-target="closest div" hx-DELETE="/p/{{idtoa .ID}}">delete post</button></div>{{end}}
      <div><button hx-swap="outerHTML" hx-POST="/ban/{{.Reported}}">1h ban</button></div>
      <div class="form-submit">
        <input type="submit" value="job's done"/>
      </div>
    {{end}}
  </form>
{{end}}

{{define "ezbanresp"}}
  <div>
    banned {{.}} for 1 hour
  </div>
{{end}}

{{define "report-submitted"}}
  <div>thank you for your report!</div>
  <div><em>repeatedly filing false reports may result in ban!!!</em></div>
{{end}}

{{define "reviewed"}}
  <div>
  reviewed
  </div>
{{end}}
