{{define "content"}}
  <h1>new {{if .NewThreadForum}}<a href="/new">forum</a>{{else}}<a href="/new?forum=yes">hyper-real-time</a>{{end}} thread</h1>
  <form action="/t" method="POST" enctype="multipart/form-data">
    <div class="form-field">
      <label for="topic">topic</label>
      <input type="text" name="topic" maxlength="26">
    </div>
    <div class="form-field">
      <label for="anon">anon</label>
      <input type="checkbox" name="anon">
    </div>
    <div class="form-field">
      <label for="nick">nick</label>
      <input type="text" name="nick" {{with .DisplayName}}value="{{.}}"{{end}}>
    </div>
    <div class="form-field">
      <label for="color">color</label>
      <input type="color" name="color" value="{{colorToA .Color}}">
    </div>
    <div class="form-field">
      <label for="body">body</label>
      <textarea type="text" name="body"></textarea>
    </div>
    <div class="form-field">
      <label for="image">image</label>
      <input id="nt-img" type="file" name="image" accept="image/png, image/jpeg, image/gif, image/webp"> 
    </div>
    <div class="form-field">
      <label for="alt">alt</label>
      <input type="text" name="alt">
    </div>
    {{if .NewThreadForum}}
      <input type="hidden" name="dead" value="yes">
    {{end}}
    <div class="form-submit">
      <input type="submit" value="make thread"/>
    </div>
  </form>
  <script src="/js/newthread.js{{.Crack}}"></script>
{{end}}
