{{define "content"}}
{{if .Thread.Topic}}
<h1 class="thread-topic">{{.Thread.Topic}}</h1>
{{end}}
{{if .Watched}}
<form action="/u/{{idtoa .Thread.ID}}" method="POST">
<input type="submit">unwatch</input>
</form>
{{else}}
<form action="/w/{{idtoa .Thread.ID}}" method="POST">
<input type="submit">watch</input>
</form>
{{end}}
<div id="eats-ur-brain">
{{range .Thread.Posts}}
  {{template "post" .}}
{{end}}
</div>
{{if .Archived}}
<div>[reply limit hit; thread archived]</div>
{{else}}
{{if .CompiledAssets}}
<script type="module" src="/{{.CompiledAssets.ChatPath}}"></script>
{{range .CompiledAssets.ChatCss}}
<link rel="stylesheet" href="/{{.}}">
{{end}}
{{else}}
<script type="module" src="http://localhost:5173/src/chat.ts"></script>
{{end}}
<script src="/js/links.js"></script>
<script src="/js/thumb.js"></script>
{{end}}
{{end}}
