{{define "content"}}
  {{if .Thread.Topic}}
    <h1 class="thread-topic">{{.Thread.Topic}}</h1>
  {{end}}
  {{if not (maxBumps .Thread.ReplyCount)}}
    {{if .Watched}}
      {{template "unwatch" .Thread}}
    {{else}}
      {{template "watch" .Thread}}
    {{end}}
  {{end}}
  <div id="eats-ur-brain" {{if .IsMod}}class="mod"{{end}}>
    {{range .Thread.Posts}}
      {{template "post" .}}
    {{end}}
  </div>
  {{if .Archived}}
    <div>[reply limit hit; thread archived]</div>
  {{else}}
    {{if .CompiledAssets}}
      <script type="module" src="/{{.CompiledAssets.ChatPath}}"></script>
      {{range .CompiledAssets.ChatCss}}
        <link rel="stylesheet" href="/{{.}}">
      {{end}}
    {{else}}
      <script type="module" src="http://localhost:5173/src/chat.ts"></script>
    {{end}}
    <script src="/js/loadfontsize.js{{.Crack}}"></script>
  {{end}}
  <script src="/js/findyous.js{{.Crack}}"></script>
  <script src="/js/action.js{{.Crack}}"></script>
  <script src="/js/hydratetime.js{{.Crack}}"></script>
  <script src="/js/links.js{{.Crack}}"></script>
  <script src="/js/thumb.js{{.Crack}}"></script>
{{end}}
