{{define "content"}}
  {{template "thread-header" .}}
  <div id="eats-ur-brain"{{if .IsMod}} class="mod"{{end}}{{with .Color}} data-color="{{.}}"{{end}}{{with .Nick}} data-nick="{{.}}"{{end}}>
    {{range .Thread.Posts}}
      {{template "post" .}}
    {{end}}
  </div>
  {{if archived .Thread}}
    {{if .Thread.ManuallyArchived}}
      <div>[thread manually archived]</div>
    {{else}}
      <div>[reply limit hit; thread archived]</div>
    {{end}}
  {{else}}
    {{if .CompiledAssets}}
      <script type="module" src="/{{.CompiledAssets.ChatPath}}"></script>
      {{range .CompiledAssets.ChatCss}}
        <link rel="stylesheet" href="/{{.}}">
      {{end}}
    {{else}}
      <script type="module" src="http://localhost:5173/src/chat.ts"></script>
    {{end}}
    <script src="/js/loadfontsize.js{{.Crack}}"></script>
  {{end}}
  <script src="/js/findyous.js{{.Crack}}"></script>
  <script src="/js/action.js{{.Crack}}"></script>
  <script src="/js/hydratetime.js{{.Crack}}"></script>
  <script src="/js/links.js{{.Crack}}"></script>
  <script src="/js/thumb.js{{.Crack}}"></script>
{{end}}
