{{define "left-sidebar"}}
  <div class="sidebar-group">
    <div class="pair">
      <a href="/new">NEW THREAD</a>
    </div>
    <div class="pair">
      <a href="/settings">SETTINGS</a>
      <a href="/">HOME</a>
    </div>
    <div class="pair">
      <a href="/profile/{{.Username}}">PROFILE</a>
      <a href="/t">INDEX</a>
    </div>
    <div class="pair">
      <a href="/inbox">INBOX</a>
      <a href="/ft">FORUMS</a>
    </div>
    <div class="pair">
      <a id="inbox-counter" href="/inbox" data-count="{{.Notifications}}">{{if ne .Notifications 0}}{{intto36a .Notifications}} wMAIL{{if ne .Notifications 1}}s{{end}}{{end}}</a>
      <a href="/catalog">CATALOG</a>
    </div>
    {{if .IsMod}}
      <div class="hidden-till-hover">
        <a href="/moderate">view moderation panel</a>
      </div>
    {{end}}
  </div>
  <div class="sidebar-group" id="watched-threads">
    <div><button class="recent-activity clickable">watched threads</button></div>
  </div>
  <div class="sidebar-group" id="bumped-threads">
    {{template "bumped-threads" .}}
  </div>
  {{if .CompiledAssets}}
    <script type="module" src="/{{.CompiledAssets.WatcherPath}}"></script>
    {{range .CompiledAssets.WatcherCss}}
      <link rel="stylesheet" href="/{{.}}">
    {{end}}
  {{else}}
    <script type="module" src="http://localhost:5173/src/watcher.ts"></script>
  {{end}}
{{end}}
